:root {
  --main-color: #E60012;
  --queue-page-color: #E0EBEE;
  --background-color: #E5E5E5;
  --font-grey-color: #666666;
  --button-gradient-color: linear-gradient(180deg, #F1E0E0 23.33%, rgba(253, 247, 247, 0) 194.67%);
}